version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: todo-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo_db
    ports:
      - "3307:3306" # host:container
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: todo-backend
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "3001:3000"
    env_file:
      - ./backend/.env
    command: npm run start:prod

volumes:
  mysql_data:
